@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito:ital,wght@1,300&family=Quicksand:wght@600&family=Roboto:wght@300&family=Saira+Condensed&display=swap');

$firstColor: #BFB5AF;
$secondColor: #ECE2D0;
$thirdColor:#D5B9B2;
$fourthColor:#A26769;
$fifthColor:#582C4D;
$sixth:#cab782;
$black:#000;
$white:#fff;
$primaryFont: Montserrat;